<!DOCTYPE html>
<html>
<head>
    <title>Online Complaint Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>

<div class="container">

    <div class="card">

        <h1>Online Complaint Management System</h1>

        <p>
            A simple platform for students to submit and track
            their complaints online.
        </p>

        <br>

        <a href="/register" class="btn">Register</a>

        <a href="/login" class="btn">Login</a>

    </div>

</div>

</body>
</html>
